* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}

body {
  font-family: "soleil", "roboto", sans-serif;
  overflow-x: hidden;
  background-color: #f1f1f1;
  color: #040404;
}

.justify-center{
  justify-content: center;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.search-bar{
  padding: 40px 10vw 0;

}

.search{
  border: 0;
  padding: 8px 20px;
  font-size: 18px;
  font-family: "soleil", "roboto", sans-serif;
  border: 1px solid #bdbbbb;
  border-radius: 10px;
}

.active{
  background-color: #eeeeee !important;
  border-left: 1px solid #e2e2e2 !important;
  border-right: 1px solid #e2e2e2 !important;
  border-bottom: 1px solid #e2e2e2 !important;
}

.pointer{
  cursor: pointer;
}


.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.user-score {
  font-size: 14px;
  color: #989898;
  font-weight: 300;
  margin-top: -3px;
}

.shadow{
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.wrap{
  flex-wrap: wrap;
}

.grow{
  flex-grow: 1;
}

.leaderboard {
  padding: 43px 10vw;
}
.leaderboard-table{
  font-weight: bold;
  box-shadow: 0 0 5px 5px #060606;
  border-radius: 20px;
}

.footer-btn{
  padding: 8px 12px;
  margin: 0 15px;
  background-color: #FFF;
  border-radius: 4px;
  color: white;
  border: 1px solid #3498db;
}

.leaderboard-footer{
  border-radius: 0 0 15px 15px;
  padding: 20px 3vw;
  background-color:#2b4254;
  color: #ffc107;
}

.leaderboard-row{
  flex-grow: 1;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 10px 3vw;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

.row-caller{
  align-items: center;
}

.row-user{
  margin-left: 30px;
  width: 185px;
}

.row-user--header{
  border-radius: 10px;
  background-color: transparente;
  width: 275px;
}

.row-position{
  width: 55px;
  text-align: center;
}

.row-calls{
  width: 55px;
  text-align: right;
}

.leaderboard-header{
  border-radius: 0px;
}

.align-center{
  align-items: center;
}

.row-collapse{
  flex-grow: 1;
  justify-content: space-around;
}

.row-alt{
  background-color: #F2f2f2;
}

.row-button{
  padding: 12px 40px 10px 40px;
  color: #080808;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background-color: #FFFFFF;
}

.table-tab:hover,
.row-button:hover{
  background-color: #f2f2f2;
}

.row-button--active{
  border-right: 1px solid #0196c1;
  border-left: 1px solid #0196c1;
  border-top: 1px solid #0196c1;
}

.filter-row{
  padding: 0;
}

.table-tab{
  padding: 10px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background-color: #FFFFFF;
}

.filter-by{
  border-bottom: 1px solid #0196c1;
  background-color: rgba(0,0,0,0);
}

.row-button--active,
.tab-active{
  background-color: #32B8DF;
  color: #FFFFFF;
  border-left: 1px solid #0196c1;
  border-top: 1px solid #0196c1;
  border-right: 1px solid #0196c1;
}

.row-button--active:hover,
.tab-active:hover{
  background-color: #20add6;
}

.row--header{
  border: none;
  background-color: #2b4254;
  color: #ffc107;
  border-radius: 15px 15px 0 0;
  padding: 20px 3vw;
}

.row-rank--header,
.row-team--header,
.row-rank,
.row-team{
  width: 16.67%;
}

.avatar{
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.wordmark {
  height: 65px;
  margin: 8px 0;
  cursor: pointer;
}

.content{
  min-height: 100vh;
}



.nav-link {
  background-color: #EEE;
  font-size: 18px;
  font-weight: 300;
  color: #4a4a4a;
  padding: 10px 25px 10px 20px;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  position: relative;
  letter-spacing: -0.5px;
  z-index: 1;
}

.nav-link:hover{
  background-color: #c7c7c7;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.nav-links {
  position: absolute;
  background-color: #EEE;
  left: 0;
  top: -62px;
  width: 100%;
}

@media (max-width: 610px) {
  .row-rank--header,
  .row-team--header{
    display: none;
  }

  .row-collapse{
    flex-direction: column;
  }

  .row-caller{
    margin-bottom: -37px;
    align-items: flex-start;
  }

  .row-rank,
  .row-team{
    width: 275px;
    padding-left: 90px;
    font-size: 12px;
  }

  .wordmark {
    height: 40px;
  }

  .nav {
    padding: 0 10vw;
  }

}

@media (max-width: 800px) {

  .row-button:last-of-type{
    border-right: 0;
  }

  .filter-by{
    flex-direction: column;
  }

  .table-tab {
    border-top: 1px solid #E2E2E2;
    border-left: 0px;
  }

  .tab-active {
    border-top: 1px solid #0196c1;
  }

  .row-button{
    flex-grow: 1;
    text-align: center;
  }

  .user-container {
    padding: 4px 15px;
  }
  .user-menu {
    top: -96px;
  }
  .dropdown-icon,
  .dropup-icon,
  .user-info {
    display: none;
  }
  .nav {
    height: 70px;
  }
  .menu-icon {
    height: 70px;
    width: 82px;
    padding: 23px;
  }
  .nav-link {
    border: 1px solid #E2E2E2;
    padding: 8px 25px;
  }
  .active-icon {
    background-color: #EEE;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
}

.animate-border {
  animation: animate-border 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

.remove-border {
  animation: remove-border 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes animate-border {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes remove-border {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.menu-slide-up {
  animation: menu-slide-up 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

.menu-slide-down {
  animation: menu-slide-down 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes menu-slide-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(144px);
  }
}

@keyframes menu-slide-up {
  0% {
    transform: translateY(144px);
  }
  100% {
    transform: translateY(0px);
  }
}
