
.search{
  width:100%;
  border: 0;
  padding: 8px 20px;
  font-size: 18px;
  font-family: "soleil", "roboto", sans-serif;
  border-radius: 10px;
}
.table{
  border: none;
  box-shadow: 0 0 40px -10px #060606;
  border-radius: 10px;
}

.table img{
  margin-right: 15px;
  border-radius: 100px;
  object-fit: cover;
  width: 55px;
  height: 55px;
}

.table th, .table td{
  vertical-align: baseline;
}
.username{
   vertical-align: -webkit-baseline-middle;
}
.table-dark th, .table-dark td, .table-dark thead th{
  border: none;
}
.table thead th {
    vertical-align: bottom;
}

table thead tr th:first-child::after{
  content: "Puesto";
}

@media only screen and (max-width: 768px) {
  .search{
    margin-bottom: 10px;
  }
  table thead tr th:first-child::after{
    content: "#";
  }

}
